<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;doorBreacher - Daedalus Dock</title>
</head>
<body>
<header>
    <a href="index.html">Daedalus Dock</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/doorBreacher.html#var">Var Details</a></header>
<main>
<h1>doorBreacher <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/doorBreacher.html">doorBreacher</a></aside>
        
    
            <a href="https://github.com/TerryTehCoder/Daedelus-Foundation/blob/0bf3d7d3daa53e8cfa44856e12aae102f8a28aef/code/datums/components/doorBreacher.dm#L4">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;doorBreacher.dm 4"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/doorBreacher.html#var/breach_cooldown">breach_cooldown</a></th><td>Current cooldown</td></tr>
            <tr><th><a href="datum/component/doorBreacher.html#var/breach_cooldown_time">breach_cooldown_time</a></th><td>Cooldown between breaches</td></tr>
            <tr><th><a href="datum/component/doorBreacher.html#var/breach_message">breach_message</a></th><td>Message to display when breaching</td></tr>
            <tr><th><a href="datum/component/doorBreacher.html#var/breach_power">breach_power</a></th><td>The power/force of the breach</td></tr>
            <tr><th><a href="datum/component/doorBreacher.html#var/breach_range">breach_range</a></th><td>The range at which doors can be breached</td></tr>
            <tr><th><a href="datum/component/doorBreacher.html#var/breach_sound">breach_sound</a></th><td>Sound to play when breaching</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/breach_cooldown"><aside class="declaration">var </aside>breach_cooldown
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/TerryTehCoder/Daedelus-Foundation/blob/0bf3d7d3daa53e8cfa44856e12aae102f8a28aef/code/datums/components/doorBreacher.dm#L12">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;doorBreacher.dm 12"/></a></h3>
        <p>Current cooldown</p><h3 id="var/breach_cooldown_time"><aside class="declaration">var </aside>breach_cooldown_time
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/TerryTehCoder/Daedelus-Foundation/blob/0bf3d7d3daa53e8cfa44856e12aae102f8a28aef/code/datums/components/doorBreacher.dm#L10">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;doorBreacher.dm 10"/></a></h3>
        <p>Cooldown between breaches</p><h3 id="var/breach_message"><aside class="declaration">var </aside>breach_message
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/TerryTehCoder/Daedelus-Foundation/blob/0bf3d7d3daa53e8cfa44856e12aae102f8a28aef/code/datums/components/doorBreacher.dm#L16">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;doorBreacher.dm 16"/></a></h3>
        <p>Message to display when breaching</p><h3 id="var/breach_power"><aside class="declaration">var </aside>breach_power
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/TerryTehCoder/Daedelus-Foundation/blob/0bf3d7d3daa53e8cfa44856e12aae102f8a28aef/code/datums/components/doorBreacher.dm#L8">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;doorBreacher.dm 8"/></a></h3>
        <p>The power/force of the breach</p><h3 id="var/breach_range"><aside class="declaration">var </aside>breach_range
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/TerryTehCoder/Daedelus-Foundation/blob/0bf3d7d3daa53e8cfa44856e12aae102f8a28aef/code/datums/components/doorBreacher.dm#L6">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;doorBreacher.dm 6"/></a></h3>
        <p>The range at which doors can be breached</p><h3 id="var/breach_sound"><aside class="declaration">var </aside>breach_sound
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/TerryTehCoder/Daedelus-Foundation/blob/0bf3d7d3daa53e8cfa44856e12aae102f8a28aef/code/datums/components/doorBreacher.dm#L14">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;doorBreacher.dm 14"/></a></h3>
        <p>Sound to play when breaching</p></main>
<footer>
    daedalus.dme
    <a href="https://github.com/TerryTehCoder/Daedelus-Foundation/tree/0bf3d7d3daa53e8cfa44856e12aae102f8a28aef">0bf3d7d</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
